@font-face{src:url("../fonts/JosefinSlab-Regular.ttf");font-family: 'Josefin'}
@font-face{src:url("../fonts/Quicksand-Regular.ttf");font-family: 'Quicksand'}
@font-face{src:url("../fonts/Roboto-Regular.ttf");font-family: 'Roboto'}
@font-face{src:url("../fonts/MyriadPro-Regular.otf");font-family: 'Myriad'}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.navbar
{
	background: #fff;
	border: none;
	box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.2);
}

.lead
{
	font-weight: 300;
}

.navbar-nav li
{
	font-size: 20px;
}

.navbar-nav li a:hover
{
	color: #000 !important;
}

.navbar-nav
{
	margin-left: 20px;
}

@media(min-width:768px) {
    body {
        padding-top: 90px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }

    .wrapper
    {
    	margin-bottom: 30%;
    }
}

@media(max-width: 768px){
	body{
		padding-top: 60px;
	}

	.wrapper
    {
    	margin-bottom: 30%;
    }

	.lead
	{
		font-weight: 300;
	}
}

body
{
	background: rgba(228,226,227,1);
	background-size: cover;
	background-attachment: fixed;
	font-family: "Roboto" !important;
	color: #333;
}

.wrapper
{
	color: #333;
	margin-top: 10px;
	margin-bottom: 10%;
	margin-top: 0px;
	//background: rgba(255,255,255,0.9);
	//height: 100%;
	box-shadow: none;
}

.wrapper div
{
	display: inline-block;
	vertical-align: text-top;
	overflow-x: hidden;
	//overflow-y: hidden;
}

.news
{
	width: 20%;
	//height: 60%;
	//border-right: 2px solid rgba(0,0,0,0.5) !important;
}

.icon-bar
{
	background: #000 !important;
}

.about_us
{
	width: 78%;
	//height: 60%;
	text-align: justify;
}

.panel-body
{
	//overflow-y: auto;
	//height: 100%;
	border: none;
	//line-height: 1.428;
	text-align: justify;
}

.panel-heading
{
	width: 100%;
	border: none;
}

.panel
{
	overflow-y: hidden;
	background: none;
	border: none;
	box-shadow: none;
}

.fb:hover
{
	color: #1789C3 !important;
}

.youtube:hover
{
	color: #E03A3A !important;
}

.android:hover
{
	color: #18C327 !important;
}


.footer
{
	overflow: hidden;
	background: #333;
	box-shadow: none;
	color: #fff;
}

.footer div
{
	text-align: center;
}

.inner
{
    width: 60%;
    height: 3px;
    margin: 0px auto;
    border-bottom: 3px solid #333;
}



.footer .connect
{
	float: left;
	color: #000;
}

.item
{
	color: #fff;
	//background: rgba(0,0,0,0.8);
	height: 100%;
	vertical-align: middle;
}


.slide
{
	height: 40%;
	//width: 98%;
	background: rgba(5,0,216,1);
	margin-top: 0px;
}

.navbar-brand
{
	pointer-events: none;
	cursor: default;
}

@media screen and (max-width: 629px) {
	.wrapper div
	{
		display: block;
		width: 98%;
	}

	.lead
	{
		font-weight: 300;
	}

	.news
	{
		border-bottom: 2px solid rgba(0,0,0,0.5) !important;
		//border-right: none !important;
	}

	.wrapper
	{
		margin-bottom: 30%;
	}

	.footer span
	{
		width: 50%;
	}

	.wrapper
    {
    	margin-bottom: 30%;
    }
}


@media(max-width: 629px){

<<<<<<< HEAD
	.footer{
		height: 2%;
	}

=======
>>>>>>> f09756d317f77c1305baedd9233c3b2370b79d2e
	.srm-logo img{
		display: none;
	}

	.seicon-logo {
		height: 8%;
		width: 157px;
		margin-top: -58px;
	}

	.navbar-toggle
	{z-index: 1000;
	}
	
}